/* 
HEADER
 */


header {
  width: 100%;
  height: 70px;
  min-width: 1200px;
  position: fixed;
  z-index: 999;
  padding: 20px 30px;
  background-color: white;
}

nav ul li {
  display: inline-block;
  padding: 0 20px;
}

.f1, .f2{
  line-height: 35px;
}
.f1 {
  width: 580px;
}
.f2 {
  width: 510px;
}

.f1 img {
  float:left;
  width: 150px;
  margin-right: 20px;
} 


nav ul li a:hover{
  color: #0061ff;
}

header > ul {
  width:60%;
  margin-right: 10px;
}
/* dropdown */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 998;
}
.dropdown-content a{
  padding: 8px 10px;
  display: block;
  margin-top: 2px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content :hover{
  background-color: rgba(211, 211, 211, 0.952);
  color: black;
}


/*
 JUMBOTRON 
 */

 .jumbotron{
  background-color: #b4d0e7;
  height: 750px;
 }

 .jumbotron.content {
   width: 75%;
   padding-top: 12%;
   margin: 0 auto;
 }

 .jumbotron.content h1{
  font-size: 70px;
  margin-bottom: 50px; 
}

.jumbo-text p{
  margin-bottom: 35px;
  line-height: 22px;
  padding-right: 20px;
  font-weight: 500;
}
.jumbo-text{
  width:33%;
}
.jumbo-text .btn-big{
  width: 60%;
}

.jumbo-text2{
  width:40%;
}
.jumbo-text2 img{
  padding-left: 12%;
}

.jumbo-text span{
  display: block;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.drop-arrow i {
  font-size: 40px;
}

/*
 //JUMBOTRON 
 */

/* SECTION-1 */

main {
  margin-top: 160px;
}

section > h2{
  font-size: 38px;
  margin-bottom: 50px;
}

.checked{
  margin-right: 20px;
}
.box-cont {
  margin: 40px 0;
}

/* COLUMN  */

.col3 {
  width: 31%;
  height: 1000px;
  margin-right: 2%;
  border: 1px solid #d0d0d3;
}

.col-title {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #d0d0d3;

}
.col-title i{
  font-size: 16px;
  margin-right: 8px;
}

.col-content {
  padding:30px;
}

.col-content h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

.abbonamento {
  color: #637381;
  margin-top: 5px;
}

.col-content li {
  margin-bottom: 20px;
  font-size: 14px;
}

.col-content li i{
  margin-right: 5px;
}

.col-content ul{
  margin: 30px 0;
}

.col-button {
  padding: 30px 0;
  text-align: center;
}

.col-comment a{
  text-decoration: underline;
  color: #0061ff;
}

.line {
  display: absolute;
  margin: 30px 0;
  width: 40px;
  border-bottom: 2px solid #b4d0e7;
}

.fa-check:before {
  content: "\f00c";
  color: #0061ff;
}

.col4 {
  width:97%;
  border: 1px solid #d0d0d3;
}
.col-4 {
  display: inline-block;
  padding: 25px;
}
.col-4.content {
  width: 69%;
}

.col-4.button {
  width: 30%;
}
.btn-big.col{
  padding: 6px 40px;
}

/* COLUMN4 */
.col4 h3, .column-right {
  font-size: 28px;
}
.col4 h3, .col4 h4 {
  margin-bottom: 15px;
}
.col-comment {
  font-size: 14px;
}
section {
  margin-bottom: 12%;
}

/* SECTION 2 */

.column1 {
  width: 62%;
  padding-right: 3%;
  display: inline-block;
}
.column2 {
  width: 35%;
  display: inline-block;
  padding-top: 35px;
}

.column2 h3{
  font-size: 24px;
  margin-bottom: 30px;
}

.column2 p{
  line-height: 27px;
  margin-bottom: 20px;
}

.white-button{
  width: 40%;
  padding: 7px 25px;
  background-color: transparent;
  border: 1px solid black;
  color: black;
}
.white-button:hover{
  background-color: rgba(255,255,255,0.8);
}
.btt:hover:hover{
  background-color: #063888;
}
.btn:hover:hover{
  background-color: #063888;
}

/* SECTIONE 3 */

.boxx{
  float: left;
  width: 31%;
  margin-right: 2%;
  margin-bottom: 2%;
  padding: 2%;
}
.boxx > h3 {
  font-size: 24px;
  margin: 15px 0;
}

.boxx > p {
  margin: 10px 0;
  line-height: 20px;
}
.underline {
  text-decoration: underline;
  cursor: pointer;
}

/* SECTIONE 4 */

.section-4 {
  padding: 20px 12px;
}

.section-4 h2{
  margin-bottom: 30px;
}

.section-4 a{
  text-decoration: underline;
  color: #0061ff;
  margin-bottom: 25px;
}

/* SECTIONE 5 */
.upper-row {
  margin: 60px 0;
}
.square {
  display: inline-block;
}
.middle.square {
  width: calc(100% - 800px);
  height: 400px;
  padding: 50px 40px;
  margin: 0 auto;
  float: left;
  overflow: auto;
  background-color: #f5f5f5;
}
.aside.square {
  width: 400px;
  height: 400px;
  float: left;
}
.cube {
  float:left;
  width:50%;
  height: 200px;
}

.cit{
  margin: 30px 0;
  line-height: 22px;
}
.cube.one{
  background-color: #a2d39b;
}

.cube.two{
  background-color: #61082b;
}

.cube.three{
  background-color: #0093ce;
}

.cube.four{
  background-color: #ff1c1c;
}

.cube.five{
  background-color: #d5001f;
}

.cube.six{
  background-color: #b4d0e7;
}
.cube.seven{
  background-color: #0d2481;
}
.cube.eight{
  background-color: #ffd830;
}

.lower-row{
  background-color: #b4d0e7;
}

.lower-row {
  background-color: #0093ce;
}