body{
  font-family: Arial, Helvetica, sans-serif;
}


.container{
  width:70%;
  max-width: 1000px;
  margin: 0 auto;
}


.clearfix::after{
  content: '';
  display: table;
  clear: both;
}


.text-center{
  text-align: center;
}


.fl-lf {
  float: left;
}

.fl-rt {
  float: right;
}
.btt {
  text-align: center;
  padding: 7px 0;
  font-size: 14px;
  display: block;
}
.btn-lt{
  margin-left: 15px;  
  padding: 5px 20px;
}
.btn.big {
  padding: 7px 30px;
}
.btn{
  background-color: #0061ff;
  color: white;
}

.wth60 {
  width: 60%;
}

/* DEBUG */

.debug {
  background-color: rgba(255, 0 , 0, .3);
  border: 1px solid black;
}

.h100 {
  height: 100px;
}

.h400 {
  height: 400px;
}

.h600 {
  height: 600px;
}
